.container {
  background: #4d9de0;
  background: -webkit-linear-gradient(90deg, #4d9de0 0%, #3dc2ff 80%);
  background: -moz-linear-gradient(90deg, #4d9de0 0%, #3dc2ff 80%);
  background: linear-gradient(90deg, #4d9de0 0%, #3dc2ff 80%);
  color: #ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  width: 100vw;
  box-sizing: border-box;
  padding: 0 20px;
}

.userWrap {
  margin-right: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  .nickname {
    line-height: 14px;
    font-size: 12px;
    color: #fff;
  }
}

.modalWrap {
  background-color: #fff;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 20px;
  .userInfo {
    color: #3b3b3bf5;
    font-size: 12px;
    width: 100%;
    .userInfoTitle {
      font-size: 14px;
      color: #3dc2ff;
      margin-right: 20px;
      width: 80px;
      text-align: right;
      display: inline-block;
      white-space: wrap;
    }
  }
}
